{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="col-md-4 col-sm-5 shadow p-2 mb-5 mt-5">
    <h3 class="text-center">Registration:</h3>
    <div class="container mt-3">
        <form action="{% url 'registration' %}" method="post"
              class="form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-outline-success bg-gradient"
                        type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}