{% extends 'base.html' %}
{% load static %}

{% block title %}
Registration
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-sm-5 shadow p-2 mb-5 mt-5">
        <h3 class="text-center">Registration:</h3>
        <div class="container mt-3">
            <form action="{% url 'registration' %}" method="post"
                  class="form-control">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-outline-success bg-gradient"
                            type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7 col-sm-5 shadow p-2 mb-5 mt-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide"
             data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/customers.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/settings.png' %}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}