{% extends 'base.html' %}

{% block title %}
Create customer
{% endblock %}

{% block content %}
<h3>
    Create new customer:
</h3>
<div class="col-md-4 col-sm-5 shadow p-2 mb-5 mt-3">
    <form action="{% url 'create_customer' %}" method="post" class="form-control">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group mt-2">
                {% if field.label != 'Owner' %}
                    {{ field.label }}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <div class="d-grid gap-2 mt-2">
            <button class="btn btn-outline-success bg-gradient" type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}