{% extends 'base.html' %}

{% block title%}
Customers
{% endblock %}

{% block content %}

<div class="row">
    {% for customer in page_obj %}

    <div class="col-sm-3 mt-2">
        <div class="card-header bg-dark text-white">
            {{ customer }}
        </div>
        <div class="card-body border border-dark">
            <h6 class="card-title">Company: {{ customer.company }}</h6>
            <h6 class="card-title">Phone number: {{ customer.phone_number }}</h6>
            <h6 class="card-title">E-mail: {{ customer.email }}</h6>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#"
                       class="btn btn-outline-success pl-5">Details</a>
                        <a href="{{ customer.instagram }}"
                       class="btn btn-outline-dark pl-5">Instagram</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}