{% extends 'base.html' %}

{% block title %}
{{ object }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-5 mt-3">
        <h2>
            {{ object }}:
        </h2>
        <table class="table table-bordered border-dark table-success table-striped table-sm">
            <tbody>
            <tr>
                <th scope="row">Company:</th>
                <td>{{ object.company }}</td>
            </tr>
            <tr>
                <th scope="row">Phone number:</th>
                <td>{{ object.phone_number }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail:</th>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <th scope="row">Curator:</th>
                <td>{{ object.curator }}</td>
            </tr>
            <tr>
                <th scope="row">Instagram:</th>
                <td><a class="text-success" href="{{ object.instagram }}">{{ object }}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4 col-sm-1 mt-3">
        <h2 class="text-center">
            Create order:
        </h2>
        <form action="{% url 'detail_customer' object.id %}" method="post"
              class="form-control">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mt-2">
                {% if field.label != 'Customer' %}
                    {{ field.label }}
                    {{ field }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-outline-success" type="submit">Create
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-7 col-sm-5 mt-3">
        <h2>
            Orders:
        </h2>
        <table class="table table-bordered border-dark table-success table-striped table-sm">
            <thead>
            <tr>
                {% for field in fields %}
                {% if field.verbose_name != 'Up' and field.verbose_name != 'Customer' and field.verbose_name != 'ID' %}
                <th scope="col">{{ field.verbose_name }}</th>
                {% endif %}
                {% endfor %}
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                    <tr>
                    <td>{{ order.service }}</td>
                    <td>{{ order.price }}</td>
                    {% if order.status == 0 %}
                        <td>
                            <span class="badge bg-danger">Conversation</span>
                        </td>
                    {% elif order.status == 1 %}
                        <td>
                            <span class="badge bg-warning text-dark">Signing</span>
                        </td>
                    {% elif order.status == 2 %}
                        <td>
                            <span class="badge bg-info text-dark">Pending</span>
                        </td>
                    {% else %}
                        <td>
                            <span class="badge bg-success">Done</span>
                        </td>
                    {% endif %}
                    <td>{{ order.created_at }}</td>

                    <td scope="col"><a class="btn btn-sm btn-warning">Update</a>
                    </td>
                    <td scope="col"><a class="btn btn-sm btn-danger">Delete</a>
                    </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{% endblock %}