{% extends 'base.html' %}

{% block title %}
{{ object }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-sm-5 mt-3">
        <h2>
            {{ object }}:
        </h2>
        <table class="table table-bordered border-dark table-success table-striped table-sm shadow p-2 mb-5">
            <tbody>
            <tr>
                <th scope="row">Company:</th>
                <td>{{ object.company }}</td>
            </tr>
            <tr>
                <th scope="row">Phone number:</th>
                <td>{{ object.phone_number }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail:</th>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <th scope="row">Curator:</th>
                <td>{{ object.curator }}</td>
            </tr>
            <tr>
                <th scope="row">Instagram:</th>
                <td><a class="text-success" href="{{ object.instagram }}" target="_blank">{{ object.company }}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4 col-sm-1 mt-3">
        <h2 class="text-center">
            Create order:
        </h2>
        <form action="{% url 'detail_customer' object.id %}" method="post"
              class="form-control shadow p-2 mb-5">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mt-2">
                {% if field.label != 'Customer' %}
                {{ field.label }}
                {{ field }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-outline-success bg-gradient" type="submit">Create
                </button>
            </div>
        </form>
    </div>

    {% if orders %}
    <div class="col-md-7 col-sm-5 mt-3">
        <h2>
            Orders:
        </h2>
        <table class="table table-bordered border-dark table-success table-striped table-sm shadow p-2 mb-5">
            <thead>
            <tr>
                {% for field in fields %}
                {% if field.verbose_name != 'Up' and field.verbose_name != 'Customer' and field.verbose_name != 'ID' %}
                <th scope="col">{{ field.verbose_name }}</th>
                {% endif %}
                {% endfor %}
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
            <tr>
                <td>
                    <a href="{% url 'history_order' order.id %}" class="text-secondary">{{ order.service }}</a>
                </td>
                <td>{{ order.price }}</td>
                {% if order.status == 0 %}
                <td>
                    <span class="badge bg-danger">Conversation</span>
                </td>
                {% elif order.status == 1 %}
                <td>
                    <span class="badge bg-warning text-dark">Signing</span>
                </td>
                {% elif order.status == 2 %}
                <td>
                    <span class="badge bg-info text-dark">Pending</span>
                </td>
                {% else %}
                <td>
                    <span class="badge bg-success">Done</span>
                </td>
                {% endif %}
                <td>{{ order.created_at|date:'m/d/Y' }}</td>
                <td>{{ order.deadline|date:'m/d/Y' }}</td>
                <td>
                    <button type="button"
                            class="btn btn-sm btn-warning bg-gradient"
                            data-bs-toggle="modal" data-bs-target="#update"
                            data-id="{{ order.id }}"
                            data-service="{{ order.service_id }}"
                            data-price="{{ order.price }}"
                            data-status="{{ order.status }}"
                            data-deadline="{{ order.deadline|date:'m/d/Y' }}">
                        Update
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-sm btn-danger bg-gradient"
                            data-bs-toggle="modal" data-bs-target="#delete"
                            data-id="{{ order.id }}">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% endif %}
</div>


{% endblock %}