{% extends 'base.html' %}
{% load static %}

{% block title%}
History corrections
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3 col-sm-1 mt-3">
        <h2 class="text-center">
            Create correction:
        </h2>
        <form action="{% url 'history_order' pk %}" method="post"
              class="form-control shadow p-2 mb-5">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mt-2">
                {% if field.label != 'Order' %}
                {{ field.label }}
                {{ field }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="d-grid gap-2 mt-2">
                <button class="btn btn-outline-success bg-gradient"
                        type="submit">Create
                </button>
            </div>
        </form>
    </div>
    {% if corrections %}
    <div class="col-md-7 col-sm-5 mt-3">
        <h2>
            Corrections:
        </h2>
        <table class="table table-bordered border-dark table-success table-striped table-sm shadow p-2 mb-5">
            <thead>
            <tr>
                {% for field in fields %}
                {% if field.verbose_name != 'ID' and field.verbose_name != 'Order' %}
                <th scope="col">{{ field.verbose_name }}</th>
                {% endif %}
                {% endfor %}
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
            {% for correction in corrections %}
            <tr>
                <td>{{ correction.correction }}</td>
                <td>{{ correction.description }}</td>
                <td>{{ correction.created_at|date:'m/d/Y' }}</td>
                <td>{{ correction.deadline|date:'m/d/Y' }}</td>
                {% if correction.status == 0 %}
                <td>
                    <span class="badge bg-danger">In process</span>
                </td>
                {% elif correction.status == 1 %}
                <td>
                    <span class="badge bg-warning text-dark">Done</span>
                </td>
                {% else %}
                <td>
                    <span class="badge bg-success">Approved</span>
                </td>
                {% endif %}
                <td scope="col">
                                <button class="btn btn-sm btn-warning"
                                        data-bs-toggle="modal"
                                        data-bs-target="#update"
                                        data-id="{{ correction.id }}"
                                        data-correction="{{ correction.correction }}"
                                        data-desc="{{ correction.description }}"
                                        data-status="{{ correction.status }}">
                                    Update
                                </button>
                            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}