{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% block content %}
<div class="card shadow p-2 mb-5">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true"
                   href="{% url 'settings_staff' %}">Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary"
                   href="{% url 'settings_positions' %}">Position</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" aria-current="true"
                   href="{% url 'settings_services' %}">Service</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5 mt-3">
                    <h3>
                        Create staff:
                    </h3>
                    <form action="{% url 'settings_staff' %}" method="post"
                          class="form-control shadow p-2 mb-5">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group mt-2">
                                {% if field.label != 'Owner' and field.label != 'Dismissal' %}
                                    {% if field.label == 'Phone number' %}
                                        {{ field.label }}
                                        <div class="input-group">
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        {{ field.label }}
                                        {{ field }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2 mt-2">
                            <button class="btn btn-outline-success"
                                    type="submit">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
                {% if staff %}
                <div class="col-md-auto col-sm-5 mt-3">
                    <h3>
                        Staff:
                    </h3>
                    <table class="table table-bordered border-dark table-success table-striped table-sm shadow p-2 mb-5">
                        <thead>
                        <tr>
                            <th scope="col">Person</th>
                            {% for field in fields %}
                                {% if field.verbose_name != 'owner' and field.verbose_name != 'updated at' and field.verbose_name != 'ID' and field.verbose_name != 'First name' and field.verbose_name != 'Last name' and field.verbose_name != 'Sex' and field.verbose_name != 'referral' %}
                                    <th scope="col">{{ field.verbose_name }}</th>
                                {% endif %}
                            {% endfor %}
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for person in staff %}
                        <tr>
                            <td>{{ person }}</td>
                            <td>{{ person.phone_number }}</td>
                            <td>{{ person.birthdate|date:'m/d/Y' }}</td>
                            <td>{{ person.position }}</td>
                            <td>{{ person.hiring_date|date:'m/d/Y' }}</td>
                            {% if person.dismissal is None %}
                            <td>-</td>
                            {% else %}
                            <td>{{ person.dismissal }}</td>
                            {% endif %}
                            <td scope="col">
                                <button class="btn btn-sm btn-warning"
                                        data-bs-toggle="modal"
                                        data-bs-target="#update"
                                        data-person="{{ person }}"
                                        data-id="{{ person.id }}"
                                        data-firstname="{{ person.first_name }}"
                                        data-lastname="{{ person.last_name }}"
                                        data-phonenumber="{{ person.phone_number }}"
                                        data-birthdate="{{ person.birthdate|date:'m/d/Y' }}"
                                        data-position="{{ person.position_id }}"
                                        data-sex="{{ person.sex }}"
                                        data-dismissal="{{ person.dismissal }}">
                                    Update
                                </button>
                            </td>
                            <td scope="col">
                                <button class="btn btn-sm btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#delete"
                                        data-id="{{ person.id }}"
                                        data-person="{{ person }}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
