<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">WiCRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page"
                   href="{% url 'customers_list' %}">Home</a>
                <a class="nav-link" href="{% url 'create_customer' %}">Create customer</a>
            </div>

        </div>
        {% if request.path == '/customers/' %}
        <form class="d-flex" action="{% url 'customers_list' %}">
            <input class="form-control me-2" type="search" placeholder="Search"
                   aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search
            </button>
        </form>
        {% endif %}
    </div>

</nav>