{% extends 'base.html' %}

{% block title %}
Invite referral registration
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-5 mt-3">
            <h3>
                Registration:
            </h3>
            <form action="{% url 'settings_staff' %}" method="post"
                  class="form-control shadow p-2 mb-5">
                {% csrf_token %}
                {% for field in staff_form %}
                <div class="form-group mt-2">
                    {% if field.label != 'Owner' and field.label != 'Dismissal' and field.label != 'Position' %}
                    {% if field.label == 'Phone number' %}
                    {{ field.label }}
                    <div class="input-group">
                        {{ field }}
                    </div>
                    {% else %}
                    {{ field.label }}
                    {{ field }}
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-outline-success"
                            type="submit">
                        Registration
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}